<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    <h1>Products</h1>

    <h2>View Products</h2>

    <table>
      <tr>
        <th>PRODUCT NAME</th>
        <th>PRODUCT PRICE</th>
      </tr>
      <tr th:each="product: ${products}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
      </tr>
    </table>

    <h2>Add a Product</h2>
    <form action="/products" method="POST">
        Name: <input
                type="text"
                name="name"><br />
        Price: <input
                type="number"
                step="any"
                name="price"><br />
        <button type="submit">Add Product</button>
</body>
</html>